{% extends 'base.html' %}

{% block content %}

    <div class="jumbotron">
        <img src="http://tischlerei-weissenbacher.at/
        img/responsive_web_design.png">

        <h1>Please put some text here</h1>

        <p class="lead">If you want, you can add some text here as well.</p>

        <a href="contact" class="btn btn-large btn-success">Contact us today
            to get started <br><br><br>
        </a>

        <a href="#" class="twitter-follow-button" data-show-count="false"
           data-size="large">Follow ME</a>

        <script>
            !function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0],
                p = /^http:/.test(d.location)?
                'http': 'https' ;if(!d.getElementById(id))
                {js = d.createElement(s);
                js.id = id; js.src = p+'://platform.twitter.com/widgets.js';
                fjs.parentNode.insertBefore(js, fjs);}}
            (document, 'script', 'twitter-wjs');
        </script>
        &nbsp;&nbsp;&nbsp;&nbsp;

        <a href="#" class="twitter-mention-button" data-size="large">Send ME
            a tweet to @ME
        </a>
        <script>
            !function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0],
                p = /^http:/.test(d.location) ?
                'http' : 'https'; if (!d.getElementById(id))
                {js = d.createElement(s);
                js.id = id;
                js.src = p + '://platform.twitter.com/widgets.js';
                fjs.parentNode.insertBefore(js, fjs);}}
                (document, 'script', 'twitter-wjs');
        </script>
        &nbsp;&nbsp;&nbsp;&nbsp;

        <a href="#" class="twitter-share-button" data-url="alberick.me"
           data-text="Django for the Non-Programmer #ME"
           data-sixe="large">Share!</a>
        <script>
            !function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0],
                        p = /^http:/.test(d.location) ?
                                'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + '://platform.twitter.com/widgets.js';
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }
            (document, 'script', 'twitter-wjs');
        </script>
    </div>

    <hr>

    <div class="row-fluid marketing">
        <div class="col-md-6">
            <h3>(1) One</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci beatae dolorum, ea et fugiat fugit id maiores maxime nostrum nulla quibusdam quisquam tenetur totam vero. Dicta eius porro quam.</p>

            <h3>(2) Two</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aspernatur deleniti eveniet ex maiores, odio quidem repellat ullam velit? Ab aperiam facilis fugiat mollitia nostrum optio porro repudiandae ut voluptatibus!</p>

            <h3>(3) Three</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi dolorem expedita fugiat harum incidunt ipsum iste laborum magni molestias neque nihil quisquam rem, rerum sapiente sed soluta velit veniam?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam ducimus ea et expedita labore laboriosam, maxime molestiae quae quaerat velit, vero voluptate. A dignissimos eaque nulla, officiis perferendis quo tenetur.</p>
        </div>

        <div class="col-md-6">
            <h3>(4) Four</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci beatae dolorum, ea et fugiat fugit id maiores maxime nostrum nulla quibusdam quisquam tenetur totam vero. Dicta eius porro quam.</p>

            <h3>(5) Five</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aspernatur deleniti eveniet ex maiores, odio quidem repellat ullam velit? Ab aperiam facilis fugiat mollitia nostrum optio porro repudiandae ut voluptatibus!</p>

            <h3>(6) Six</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi dolorem expedita fugiat harum incidunt ipsum iste laborum magni molestias neque nihil quisquam rem, rerum sapiente sed soluta velit veniam?</p>
        </div>
    </div>

{% endblock %}