<!-- System announcements -->
{% load staticfiles embed_video_tags %}


<section class="info-box" id="announcements">
    <h1>Orders from the Council</h1>

    {% for a in announce %}
        <div class="full-image">
            {% if a.vid %}
                {% video a.vid  'medium' %}
            {% else %}
                <img src="{% static 'img/'|add:a.img %}" alt="">
            {% endif %}
        </div>

        <div>
        {{ a.info | safe }}  <!-- safe prevent escaping data so it will be
        rendered as HTML instead of plain text -->
        </div>
        <br>
    {% endfor %}
</section>